<div class="container" xmlns:cols="http://www.w3.org/1999/xhtml" xmlns:rows="http://www.w3.org/1999/xhtml">
  <br><br> <h2>Editer l'offre</h2>
  <br>
  <form >
    <form style="width:300px" >
      <legend>Quel est votre proposition?</legend>
      <label for="professionelle">A quel secteur cette demande s'applique t-elle ?</label>
      <br/>
      <select name="professionelle"  id="professionelle">
        <optgroup label="primaire">
          <option value="agriculture">agriculture</option>
          <option value="élevage">élevage</option>
        </optgroup>
        <optgroup label="secondaire">
          <option value="BTP">BTP</option>
          <option value="hight-tech">hight-tech</option>
        </optgroup>
        <optgroup label="terciaire">
          <option value="professeur">proffesseur</option>
          <option value="finance">finance</option>
        </optgroup>
      </select>
      <div >
        <label for="description" class="form-label">Pouvez vous presenter brievement votre proposition?</label>
        <textarea type="text" class="form-control" name="description"  id="description" ></textarea>
        <div class="invalid-feedback">
          décrivez votre requette
        </div>
      </div>
      <div >
        <label for="prixo" class="form-label">Indiquez le prix de ce service </label>
        <div >
          <textarea style="resize: none" cols:2 rows:2  min="0"  class="form-control" name="prixo" id="prixo" ></textarea>
        </div>
        <div class="invalid-feedback">
          indiquez un prix
        </div>
      </div>
      <div class="form-group">
        <label >Online:</label>
        <textarea style="resize: none" cols:2 rows:2 class="form-control" name="online" id="online" ></textarea>
      </div>

      <br>
      <a class="btn btn-success" style="cursor: pointer;" (click)="onUpdateOffre()" routerLink="/offresU">Save</a>
    </form>
  </form>
</div>
