<div class="bg-image" style="background-image: url('https://scontent-cdt1-1.xx.fbcdn.net/v/t1.15752-9/254950880_285105383512757_2857588623491633462_n.png?_nc_cat=103&ccb=1-5&_nc_sid=ae9488&_nc_ohc=lw1XFVRz1LgAX-djJZE&_nc_ht=scontent-cdt1-1.xx&oh=cc7d81b561fe35d1ac9de0e53d98d5b7&oe=61B294EA'); ">
  <!--Bannière-->

  <div class="container-fluid">
    <div class="row my-5" >
      <div class="col-lg-6 col-12 mt-4 pl-5" >
        <h1 class="titre-ban text-white mb-5">Services en ligne</h1>
        <a  type="button" class="btn btn-light"> Demander un service maintenant!</a>
      </div>

      <div class="col-lg-6 col-12 mx-auto">
      </div>
    </div>

    <div class="row row-color2 py-4">
      <div class="col-12 col-lg-4 mb-lg-0 mb-4">
        <div class="card shadow">
          <div class="card-body">
            <img class="card-img-top" src="https://polytech-nancy.univ-lorraine.fr/sites/dev-esstin.univ-lorraine.fr/files/styles/medium/public/users/images/logo_polytech_1.jpeg" height="350" >
            <h5 class="card-title">Projet</h5>
            <p class="card-text">Ce cite web a été crééer dans le cadre dun projet de 4A par des étuidiant de Polytech Nancy. </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mb-lg-0 mb-4">
        <div class="card shadow">
          <div class="card-body">
            <img class="card-img-top" src="https://media.istockphoto.com/vectors/fast-stopwatch-icon-service-delivery-logo-vector-id1195047669?b=1&k=20&m=1195047669&s=170667a&w=0&h=m2_2VQfzkp7MohSAnum44ZHn4ArujF630ApInHD1Wjw=" height="250">
            <h5 class="card-title">Rapide</h5>
            <p class="card-text">Trouvez ce que vous cherchez en quelque clique! Des dizaines de services a votre dispositions avec des millier d'utilisateur!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
